*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Quando;
}

body{
    background: url(../imgs/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_form{
    background: #FFFFFF;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
}

.registration_form .title{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.form_wrap{
    margin-top: 35px;
}

.form_wrap .input_wrap{
    margin-bottom: 15px;
}

.form_wrap .input_wrap:last-child{
    margin-bottom: 0;
}

.form_wrap .input_wrap label{
    display: block;
    margin-bottom: 3px;
    color: #9597a6;
}

.form_wrap  input[type="text"]{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #9597a6;
    padding: 10px;
    outline: none;
}
.form_wrap  input[type="tel"]{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #9597a6;
    padding: 10px;
    outline: none;
}
.form_wrap  input[type="email"]{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #9597a6;
    padding: 10px;
    outline: none;
}
.form_wrap  input[type="password"]{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #9597a6;
    padding: 10px;
    outline: none;
}

.form_wrap  input[type="text"]:focus{
    border-color: #232323;
}
.form_wrap  input[type="tel"]:focus{
    border-color: #232323;
}
.form_wrap  input[type="email"]:focus{
    border-color: #232323;
}
.form_wrap  input[type="password"]:focus{
    border-color: #232323;
}

.form_wrap .input_grp{
    display: flex;
    justify-content: space-between;
}

.form_wrap .submit_btn{
    width: 47%;
    background: #000000;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}

.form_wrap .submit_btn:hover{
    background: #232323;
}
a {
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}